.index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-button {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
}

#send {
    font-size: large;
    height: 30px;
    width: 60px;
}